<h1 align="center">TEC ITGAM</h1>
<h2>MISIÓN</h2>
<p>“Formar con responsabilidad y excelencia a profesionistas capaces de enfrentar y resolver los retos que se presentan en el ámbito nacional e internacional.”</p>
<h2>VISIÓN</h2>
<p>"Ser una institución de educación superior pública que impulsa el crecimiento y el desarrollo sustentable."</p>
<h2>VALORES</h2>
<ul>
<li>Respeto</li>
<li>Liderazgo</li>
<li>Perseverancia</li>
<li>Responsabilidad</li>
</ul>
<P>Author: {{nombre}}</P>

<center>
<script language="JavaScript">
function random_publicidad_sidebar_1(){

var imagenes=new Array()
imagenes[1]="https://fastly.4sqi.net/img/general/600x600/85150350_-6JWL7z9d3PUPBOgjMkF-Ewj-uZQsPlTiG0FgRYbT3o.jpg"
imagenes[2]="https://pbs.twimg.com/media/FReASH1XsAUbhHq.jpg:large"
imagenes[3]="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQwI2U76WBYV4qig1-lRrtKbdK_Fdufn9OloN5ZHDWfbiYyggoe8jJgh24T1QUC3N3_pXY&usqp=CAU"
imagenes[4]="https://pr0.nicelocal.com.mx/C7-V0plJ9nYAP1BvyDilvg/587x440,q85/4px-BW84_n0QJGVPszge3NRBsKw-2VcOifrJIjPYFYkOtaCZxxXQ2Xj6FCrNPGxuLBYctXnmH4vBBwtE_XLaBkTe1MN38898Xo69M2A_opWiX_5vGM5LOg"

var link=new Array()
link[1]="https://fastly.4sqi.net/img/general/600x600/85150350_-6JWL7z9d3PUPBOgjMkF-Ewj-uZQsPlTiG0FgRYbT3o.jpg"
link[2]="https://pbs.twimg.com/media/FReASH1XsAUbhHq.jpg:large"
link[3]="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQwI2U76WBYV4qig1-lRrtKbdK_Fdufn9OloN5ZHDWfbiYyggoe8jJgh24T1QUC3N3_pXY&usqp=CAU"
link[4]="https://pr0.nicelocal.com.mx/C7-V0plJ9nYAP1BvyDilvg/587x440,q85/4px-BW84_n0QJGVPszge3NRBsKw-2VcOifrJIjPYFYkOtaCZxxXQ2Xj6FCrNPGxuLBYctXnmH4vBBwtE_XLaBkTe1MN38898Xo69M2A_opWiX_5vGM5LOg"

var ry_imagenes=Math.floor(Math.random()*imagenes.length)
if (ry_imagenes==0)
ry_imagenes=1
document.write('<a href='+'"'+link[ry_imagenes]+'"target="_blank"'+'><img src="'+imagenes[ry_imagenes]+'" width="50%" height="50%" style="padding-top: 20px;"></a>')
}
random_publicidad_sidebar_1()
</script>
</center>